{
	"name": "perception-theme-{{name}}",
	"version": "{{version}}",
	"engines": {
		"vscode": "^0.9.0"
	},
	"publisher": "{{user}}",
	"contributes": {
		"themes": [
			{
				"label": "Perception Colors Theme {{name}}",
				"uiTheme": "{{ui-theme}}",
				"path": "./themes/perception-theme.json"
			}
		]
	}
}