{
    "name": "Perception Colors Theme",
    "type": "dark",
    "colors": {
        // Contrast colors
        // "contrastActiveBorder": "#f00", //7
        // "contrastBorder": "#f00", //6

        // Base colors
        // "focusBorder": "#f00", //7
        "foreground": "#{{fg-hex}}", //5
        "widget.shadow": "#00000033", //0
        "selection.background": "#{{bg-1-hex}}", //2
        "errorForeground": "#{{main-0-hex}}", //8

        // Button control
        "button.background": "#{{main-1-hex}}", //1
        "button.foreground": "#{{main-5-hex}}", //5
        "button.hoverBackground": "#{{main-3-hex}}", //3

        // Dropdown control
        "dropdown.background": "#{{bg-0-hex}}", //0
        // "dropdown.border": "#f00", //2
        "dropdown.foreground": "#{{main-5-hex}}", //5

        // Input control
        "input.background": "#{{bg-0-hex}}", //0
        // "input.border": "#f00", //0
        "input.foreground": "#{{fg-hex}}", //5
        "input.placeholderForeground": "#{{line-2-hex}}", //3
        "inputOption.activeBorder": "#{{base09-hex}}", //9
        "inputValidation.errorBackground": "#{{main-0-hex}}", //8
        "inputValidation.errorBorder": "#{{main-0-hex}}", //8
        "inputValidation.infoBackground": "#{{main-5-hex}}", //D
        "inputValidation.infoBorder": "#{{main-5-hex}}", //D
        "inputValidation.warningBackground": "#{{main-2-hex}}", //A
        "inputValidation.warningBorder": "#{{main-2-hex}}", //A

        // Scroll bar control
        "scrollbar.shadow": "#00000033", //1
        "scrollbarSlider.activeBackground": "#{{main-4-hex}}44", //4
        "scrollbarSlider.background": "#{{fg-hex}}11", //2
        "scrollbarSlider.hoverBackground": "#{{main-4-hex}}22", //3

        // Badge
        "badge.background": "#{{main-2-hex}}", //0
        "badge.foreground": "#{{main-5-hex}}", //5

        // Progress bar
        "progressBar.background": "#{{main-3-hex}}", //3

        // Lists and trees
        "list.activeSelectionBackground": "#{{bg-2-hex}}", //2
        "list.activeSelectionForeground": "#{{main-5-hex}}", //5
        "list.dropBackground": "#{{sub-6-hex}}", //7
        "list.focusBackground": "#{{main-1-hex}}", //2
        "list.focusForeground": "#{{main-5-hex}}", //5
        "list.highlightForeground": "#{{main-3-hex}}", //7
        "list.hoverBackground": "#{{bg-2-hex}}", //3
        "list.hoverForeground": "#{{main-5-hex}}", //5
        "list.inactiveSelectionBackground": "#{{bg-2-hex}}", //2
        "list.inactiveSelectionForeground": "#{{main-5-hex}}", //5

        // Activity bar
        "activityBar.background": "#{{bg-0-hex}}", //0
        "activityBar.border": "#{{line-0-hex}}", //0
        "activityBar.dropBackground": "#{{sub-6-hex}}", //7
        "activityBar.foreground": "#{{fg-hex}}", //5
        "activityBarBadge.background": "#{{main-5-hex}}", //D
        "activityBarBadge.foreground": "#{{bg-0-hex}}", //7

        // Side bar
        "sideBar.background": "#{{bg-1-hex}}", //1
        "sideBar.border": "#{{line-0-hex}}", //1
        "sideBar.foreground": "#{{line-2-hex}}", //5
        "sideBarSectionHeader.background": "#{{bg-0-hex}}", //3
        "sideBarSectionHeader.foreground": "#{{line-2-hex}}", //5
        "sideBarTitle.foreground": "#{{line-2-hex}}", //5

        // Editor groups and tabs
        "editorGroup.background": "#{{main-4-hex}}", //0
        // "editorGroup.border": "#f00",
        "editorGroup.dropBackground": "#{{bg-1-hex}}", //2
        "editorGroupHeader.noTabsBackground": "#{{bg-1-hex}}", //1
        "editorGroupHeader.tabsBackground": "#{{bg-1-hex}}", //1
        // "editorGroupHeader.tabsBorder": "#f00",
        "tab.activeBackground": "#{{bg-0-hex}}", //0
        "tab.activeForeground": "#{{fg-hex}}", //5
        "tab.border": "#{{line-0-hex}}",
        "tab.inactiveBackground": "#{{bg-1-hex}}", //1
        "tab.inactiveForeground": "#{{line-2-hex}}",
        "tab.unfocusedActiveForeground": "#{{main-4-hex}}", //4
        "tab.unfocusedInactiveForeground": "#{{main-4-hex}}", //4

        // Editor colors
        "editor.background": "#{{bg-0-hex}}", //0
        "editor.foreground": "#{{fg-hex}}", //5
        "editorLineNumber.foreground": "#{{line-1-hex}}", //3
        "editorCursor.foreground": "#{{main-5-hex}}", //5
        "editor.selectionBackground": "#{{sub-6-hex}}", //2
        "editor.selectionHighlightBackground": "#{{main-2-hex}}", //1
        "editor.inactiveSelectionBackground": "#{{bg-1-hex}}", //2
        "editor.wordHighlightBackground": "#{{main-2-hex}}", //2
        "editor.wordHighlightStrongBackground": "#{{main-3-hex}}", //3
        "editor.findMatchBackground": "#{{main-2-hex}}6f", //A
        "editor.findMatchHighlightBackground": "#{{sub-2-hex}}", //9
        "editor.findRangeHighlightBackground": "#f0f",
        "editor.hoverHighlightBackground": "#{{main-2-hex}}", //2
        "editor.lineHighlightBackground": "#{{bg-1-hex}}", //1
        // "editor.lineHighlightBorder": "#f00",
        "editorLink.activeForeground": "#{{main-5-hex}}", //D
        "editor.rangeHighlightBackground": "#{{sub-2-hex}}", //1
        "editorWhitespace.foreground": "#{{main-3-hex}}", //3
        "editorIndentGuide.background": "#{{main-3-hex}}", //3
        "editorRuler.foreground": "#{{main-3-hex}}", //3
        "editorCodeLens.foreground": "#{{main-2-hex}}", //2
        "editorBracketMatch.background": "#{{sub-4-hex}}", //2
        // "editorBracketMatch.border": "#f00",
        // "editorOverviewRuler.border": "#f00",
        // "editorError.border": "#f0f",
        "editorError.foreground": "#{{main-0-hex}}", //8
        "editorWarning.foreground": "#{{main-0-hex}}", //8
        // "editorWarning.border": "#f00", 
        "editorGutter.addedBackground": "#{{sub-green-hex}}", //B
        "editorGutter.background": "#{{bg-0-hex}}", //0
        "editorGutter.deletedBackground": "#{{sub-red-hex}}", //8
        "editorGutter.modifiedBackground": "#{{sub-yellow-hex}}", //E

        // Diff editor colors
        "diffEditor.insertedTextBackground": "#{{base0B-hex}}20",
        // "diffEditor.insertedTextBorder": "#f00",
        "diffEditor.removedTextBackground": "#{{main-0-hex}}20",
        // "diffEditor.removedTextBorder": "#f00",

        // Editor widget colors
        "editorWidget.background": "#{{main-3-hex}}", //0
        // "editorWidget.border": "#f00",
        "editorSuggestWidget.background": "#{{main-4-hex}}", //1
        // "editorSuggestWidget.border": "#f00",
        "editorSuggestWidget.foreground": "#{{main-5-hex}}", //5
        "editorSuggestWidget.highlightForeground": "#f0f",
        "editorSuggestWidget.selectedBackground": "#{{main-2-hex}}", //2
        "editorHoverWidget.background": "#{{main-0-hex}}", //1
        // "editorHoverWidget.border": "#f00",
        "debugExceptionWidget.background": "#{{main-5-hex}}", //1
        // "debugExceptionWidget.border": "#f00",
        "editorMarkerNavigation.background": "#{{main-6-hex}}", //1
        "editorMarkerNavigationError.background": "#{{main-0-hex}}", //8
        "editorMarkerNavigationWarning.background": "#{{main-2-hex}}", //A

        // Peek view colors
        // "peekView.border": "#f00",
        "peekViewEditor.background": "#{{main-3-hex}}", //1
        "peekViewEditor.matchHighlightBackground": "#{{base09-hex}}6f", //9
        "peekViewEditorGutter.background": "#{{main-0-hex}}", //1
        "peekViewResult.background": "#{{main-1-hex}}", //0
        "peekViewResult.fileForeground": "#{{main-5-hex}}", //5
        "peekViewResult.lineForeground": "#{{main-3-hex}}", //3
        "peekViewResult.matchHighlightBackground": "#{{base09-hex}}6f", //9
        "peekViewResult.selectionBackground": "#{{main-2-hex}}", //2
        "peekViewResult.selectionForeground": "#{{main-5-hex}}", //5
        "peekViewTitle.background": "#{{main-2-hex}}", //2
        "peekViewTitleDescription.foreground": "#{{main-3-hex}}", //3
        "peekViewTitleLabel.foreground": "#{{main-5-hex}}", //5

        // Merge conflicts
        // "merge.border": "#f00",
        "merge.currentContentBackground": "#{{main-5-hex}}40", //D
        "merge.currentHeaderBackground": "#{{main-5-hex}}40", //D
        "merge.incomingContentBackground": "#{{base0B-hex}}60", //B
        "merge.incomingHeaderBackground": "#{{base0B-hex}}60", //B
        "editorOverviewRuler.currentContentForeground": "#{{main-5-hex}}", //D
        "editorOverviewRuler.incomingContentForeground": "#{{base0B-hex}}", //B

        // Panel colors
        "panel.background": "#{{bg-0-hex}}", //0
        "panel.border": "#{{line-0-hex}}",
        "panelTitle.activeBorder": "#{{main-5-hex}}",
        "panelTitle.activeForeground": "#{{main-5-hex}}", //5
        "panelTitle.inactiveForeground": "#{{line-2-hex}}", //3

        // Status bar colors
        "statusBar.background": "#{{bg-2-hex}}", //D
        // "statusBar.border": "#{{line-0-hex}}",
        "statusBar.debuggingBackground": "#{{main-2-hex}}", //9
        "statusBar.debuggingForeground": "#{{bg-0-hex}}", //7
        "statusBar.foreground": "#{{fg-hex}}", //7
        "statusBar.noFolderBackground": "#{{main-6-hex}}", //E
        "statusBar.noFolderForeground": "#{{main-3-hex}}", //7
        "statusBarItem.activeBackground": "#{{main-3-hex}}", //3
        "statusBarItem.hoverBackground": "#{{line-0-hex}}", //2
        "statusBarItem.prominentBackground": "#f0f",
        "statusBarItem.prominentHoverBackground": "#f00",

        // Title bar colors (macOS)
        "titleBar.activeBackground": "#{{bg-2-hex}}", //0
        "titleBar.activeForelround": "#{{line-2-hex}}", //5
        "titleBar.inactiveBackground": "#{{bg-2-hex}}", //1
        "titleBar.inactiveForeground": "#{{line-0-hex}}", //3

        // Notification dialog colors
        "notification.background": "#{{main-2-hex}}", //2
        "notification.foreground": "#{{main-5-hex}}", //5

        // Extensions
        "extensionButton.prominentBackground": "#{{base0B-hex}}", //B
        "extensionButton.prominentForeground": "#{{main-3-hex}}", //7
        "extensionButton.prominentHoverBackground": "#{{main-2-hex}}", //2

        // Quick picker
        // "pickerGroup.border": "#f00",
        "pickerGroup.foreground": "#{{main-3-hex}}", //3

        // Integrated terminal colors
        "terminal.background": "#{{main-4-hex}}", //0
        "terminal.foreground": "#{{main-5-hex}}", //5
        "terminal.ansiBlack": "#{{main-2-hex}}", //2
        "terminal.ansiBrightBlack": "#{{main-3-hex}}", //3
        "terminal.ansiRed": "#{{main-0-hex}}", //8
        "terminal.ansiBrightRed": "#{{main-0-hex}}", //8
        "terminal.ansiYellow": "#{{base09-hex}}", //9
        "terminal.ansiBrightYellow": "#{{main-2-hex}}", //A
        "terminal.ansiGreen": "#{{base0B-hex}}", //B
        "terminal.ansiBrightGreen": "#{{base0B-hex}}", //B
        "terminal.ansiCyan": "#{{base0C-hex}}", //C
        "terminal.ansiBrightCyan": "#{{base0C-hex}}", //C
        "terminal.ansiBlue": "#{{main-5-hex}}", //D
        "terminal.ansiBrightBlue": "#{{main-5-hex}}", //D
        "terminal.ansiMagenta": "#{{main-6-hex}}", //E
        "terminal.ansiBrightMagenta": "#{{main-6-hex}}", //E
        "terminal.ansiWhite": "#{{main-6-hex}}", //6
        "terminal.ansiBrightWhite": "#{{main-3-hex}}", //7
        
        // Debug
        "debugToolBar.background": "#{{main-1-hex}}", //1

        // Welcome page
        "welcomePage.buttonBackground": "#{{main-1-hex}}", //1
        "welcomePage.buttonHoverBackground": "#{{main-2-hex}}", //2
        "walkThrough.embeddedEditorBackground": "#{{main-5-hex}}", //0

        // Unknown
        "descriptionForeground": "#{{main-3-hex}}", //3
        "textBlockQuote.background": "#{{main-1-hex}}", //1
        "textBlockQuote.border": "#{{main-5-hex}}", //D
        "textCodeBlock.background": "#{{main-6-hex}}", //0
        "textLink.activeForeground": "#{{base0C-hex}}", //C
        "textLink.foreground": "#{{main-5-hex}}", //D
        "textPreformat.foreground": "#{{main-5-hex}}", //D
        "textSeparator.foreground": "#f0f"
    },
    "tokenColors": [
        {
            "name": "Section",
            "scope": [
                "punctuation.section",
                "punctuation.separator"
            ],
            "settings": {
                "foreground": "#{{main-4-hex}}" //3
            }
        },
        {
            "name": "Keyword",
            "scope": [
                "keyword"
            ],
            "settings": {
                "foreground": "#{{main-5-hex}}" //3
            }
        },
        {
            "name": "Constant",
            "scope": [
                "constant",
                "support.constant"
            ],
            "settings": {
                "foreground": "#{{main-2-hex}}" //3
            }
        },
        {
            "name": "String",
            "scope": [
                "string",
                "punctuation.definition.string"
            ],
            "settings": {
                "foreground": "#{{main-3-hex}}" //3
            }
        },
        {
            "name": "Entity",
            "scope": [
                "entity",
                "support.function",
                "meta.function",
                "meta.at-rule",
                "meta.definition"
            ],
            "settings": {
                "foreground": "#{{main-0-hex}}" //3
            }
        },
        {
            "name": "Variable",
            "scope": [
                "variable",
                "support.variable"
            ],
            "settings": {
                "foreground": "#{{main-1-hex}}" //3
            }
        },
        {
            "name": "Storage & Operator",
            "scope": [
                "keyword.operator",  // different from parent rule 'keyword'
                "storage",
                "support.type",
                "support.class",
                "meta.type"
            ],
            "settings": {
                "foreground": "#{{main-6-hex}}" //3
            }
        },
        {
            "name": "Comment",
            "scope": [
                "comment",
                "punctuation.definition.comment"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{line-1-hex}}" //3
            }
        },
        {
            "name": "Invalid",
            "scope": [
                "invalid"
            ],
            "settings": {
                "foreground": "#{{main-0-hex}}" //3
            }
        }
    ]
}
